.maindiv {
    width: 100vw; 
    height: 100vh; 
    overflow: hidden;
}

:root {
    --color-background1: #FF6F61;
    --color-background2: #FFD3B6;
    --color-aboutme: #FF6B60;
    --color-contact: #FFA060;
    --color-cv: #FFE066;
    --color-experience: #5A9ED6;
    --color-projects: #76D67A;
    --color-studies: #C28EDC;
}

@keyframes primaryPulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}
  
@keyframes secondaryPulse {
    0%, 80%  {
        transform: scale(1);
        opacity: 0.8;
    }
    100% {
        transform: scale(6);
        opacity: 0;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}