@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

.maindiv {
    width: 100vw;
    height: 100vh; 
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: var(--standard-text-size)
}

:root {
    --color-background1: #FF6F61;
    --color-background2: #FFD3B6;
    --color-aboutme: #C677E3;
    --color-contact: #77C6E3;
    --color-cv: #D9A848;
    --color-experience: #88A300;
    --color-projects: #B4DB55; 
    --color-studies: #E377C6;
    --standard-text-size: 15px;
    --h3-text-size: 18px;
    --h2-text-size: 20px;
}

.vertical-timeline-element-title {
    font-size: var(--h2-text-size);
}

.vertical-timeline-element-subtitle {
    font-size: var(--h3-text-size);
    font-weight: normal;
}