.maindiv {
    width: 100vw; 
    height: 100vh; 
    overflow: hidden;
}

:root {
    --color-primary: #6a11cb;
    --color-secondary: #2575fc;
}

@keyframes primaryPulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}
  
@keyframes secondaryPulse {
    0%, 80%  {
        transform: scale(1);
        opacity: 0.8;
    }
    100% {
        transform: scale(6);
        opacity: 0;
    }
}