.footer {
  pointer-events: auto;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  font-family: 'Montserrat', sans-serif;
}

.footer-text {
  position: relative;
  text-align: center;
  color: var(--color-text);
  white-space: nowrap;
  font-size: 1.2em;
}

.instrucctions-text {
  margin-bottom: 5px;
  animation: blink 1.5s infinite alternate;
}

.footer p {
  margin-top: 10px;
}

@keyframes blink {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}