.footer {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-align: center;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
}

.footer-text {
  position: relative;
  color: white;
  text-align: center;
  white-space: nowrap;
}

.instrucctions-text {
  margin-bottom: 5px;
  animation: blink 2.5s infinite alternate;
}

.footer p {
  margin-top: 10px;
}

@keyframes blink {
  0% {
      opacity: 0;
  }
  70% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}