.navigation-panel {
    position: absolute;
    right: 30px;
    top: 15dvh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: all 0.5s ease;
    align-items: flex-end;
    transform: translateX(150%);
  }

  .navigation-panel.show {
    transform: translateX(0);
  }