.room-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(65, 65, 65, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  pointer-events: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  height: 70vh;
  overflow: hidden;
  transition: opacity 1s ease 0s;
  opacity: 0;
}

.room-fadeOut {
  opacity: 0;
  transition-delay: 0s;
}

.room-fadeIn {
  opacity: 1;
  transition-delay: 0s;
}

.room-fadeInFirst {
  opacity: 1;
  transition-delay: 2s;
}
  
.room-title {
  margin: 10px;
}
  
.room-content {
  text-align: center;
  overflow-y: auto;
  max-height: 100%;
  width: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@media (max-width: 768px) {
  .room-container {
    top: 52%;
    width: 80vw;
    height: 65vh;
  }
}